
</div>
<section class="layout">
  <div class="header">1</div>
  <div class="main">
  <div class="main">
  <div class="container">
    <h1>Hello my name is Pablo</h1>
    <p>I make Rails apps.</p>
  </div>
  </div>
  <div class="footer">3</div>
</section>